/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole
*/

@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Indie+Flower&display=swap");

body {
  font-family: "Bree Serif", serif;
  letter-spacing: 1px;
  color: #333333;
}

#testoAlternato {
  border: 2px solid #666666;
  padding: 1.5rem;
  font-weight: 600;
  font-size: 1.5rem;
  width: 600px;
}

.parole > i {
  color: #6a889c;
  font-style: normal;
}

p > span {
  display: block;
  position: relative;
  overflow: hidden;
}

.parole {
  display: inline-block;
}

.parole i {
  position: absolute;
  top: -50px;
}

.parole i:nth-of-type(1) {
  animation: fade 2500ms 1s both;
}

.parole i:nth-of-type(2) {
  animation: fade 2500ms 3000ms both;
}

.parole i:nth-of-type(3) {
  animation: fadeEnd 2500ms 5500ms both;
}

@keyframes fade {
  0% {
    top: -50px;
    opacity: 0;
  }
  50% {
    top: 0px;
    opacity: 1;
  }
  100% {
    top: 50px;
    opacity: 0;
  }
}

@keyframes fadeEnd {
  0% {
    top: -50px;
    opacity: 0;
  }
  50% {
    top: 0px;
    opacity: 1;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}
